<!-- Navigation Bar -->
<nav class="navigationBar">
    <div class="leftNav">
        <!-- Home Link on Icon -->
       <a href="/"> <i class="fa-solid fa-house-chimney" style="color: #FFD43B;"></i></i></a>
    </div>
    <div class="rightNav">
        <!-- Home Link Button -->
        <a class="links"href="/">Home</a>
    </div>
</nav>