/* Continuing from the previous styles */

/* Styling for the label dropdown and related elements */
.container #labelDropdown {
    font-size: 2rem;
}

.container select {
    width: 50%;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.container select:focus {
    border-color: #4caf50;
    outline: none;
}

.labelContainer {
    display: flex;
    justify-content: space-between;
}

.container select option {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.container select option:hover {
    background-color: black;
    color: #14ffbc;
}

#label {
    padding: 0.5rem;
    font-size: 1.2rem;
}

#label .option {
    padding: 0.5rem;
    background-color: #f366db;
}

/* Styling for the create issue container and related elements */
.createIssueContainer .projectName {
    font-size: 1.3rem;
}

.createIssueContainer .projectName .name {
    font-size: 1.5rem;
    color: rgb(211, 0, 56);
    font-weight: bold;
}

.createIssueAndAuthor {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Styling for the pdCreateIssueLink and tooltip */
.pdCreateIssueLink {
    margin-right: 2rem;
}

.tooltipCIProjectDetails {
    width: 120px;
    right: -15px;
    top: -50px;
    background: #39ff14;
    display: none; /* Hide the tooltip by default */
    position: absolute;
}

.pdCreateIssueLink:hover + .tooltipCIProjectDetails {
    display: block;
}
